.online {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  margin-right: 10px;
}

.offline {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 10px;
}
.avatar {
  border-radius: 4px;
  margin-right: 10px;
}
.name {
  font-size: 22px;
}
